body {
    overflow: hidden;
    background-image: url(../img/grass.jpg);;
}

canvas{
    background-image: url(../img/road.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: block;
}

button {
    text-align: center;
    background-color: #ff5100;
    border: none;
    color: white;
    width: 500px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 52px;
    margin-top: 50px;
    margin-bottom: 50px;
  }